h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
  color: black;
}
h3 {
  font-size: 23px;
  text-align: right;
}
.card {
  color: black;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 40px;
}
.weather-forecast-min {
  opacity: 0.5;
}
.weather-forecast {
  text-align: center;
}
.units {
  font-size: 15px;
  margin: 0 auto;
}
.source {
  font-size: 10px;
}
